.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 0,
    'opsz' 24;
}


.material-symbols-outlined.hidden {
    display: none;
}

body{
    overflow: hidden;
}

nav {
    background-color:#7e542a;
    width: 300px;
    height: 100vh;
    position: absolute;
    right: -300px;
    top: 0;
    z-index: 1;
    transition:all 500ms;
}

.nav-open {
    right: 0;
}
/*
.hidden {
    display: none;
}
*/









